:root {
    --primaire-color: #03224C;
    --second-color: #0057CB;
    --tertiaire-color:  #E1F6F9;
    --red-color: #901C1C;
    --font-color: #000;
    --background-color: linear-gradient(to bottom, #03224C 0%, #0057CB 50%, #E1F6F9 100%);
}
* {
    font-family: 'Source Sans Pro', sans-serif;;
}
html {
    box-sizing: border-box;
    background: var(--primaire-color);
    background: var(--background-color);
    margin: 0 3%;
}
header {
    background-color: var(--tertiaire-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cadre-titre {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 3vh 0;
}
.logo-titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.titre-logo-haut {
    font-size: 1.1em;
    color: var(--second-color);
}
.logo {
    object-fit: contain;
    width: 30%;
}
.titre-logo-bas {
    font-size: 1.1em;
    color: var(--second-color);
}
.titre {
    width: 70%;
    font-size: 2.5em;
    color: var(--second-color);
    align-self: center;
    text-align: center;
}
nav {
    margin: 2vh 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.naviguation {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--red-color);
    font-weight: bold;
    border: 2px solid var(--red-color);
    border-radius: 10px;
    padding: 0.3vh 0.3vw;
    cursor: pointer;
}
.naviguation:hover {
    background-color: var(--red-color);
    color: var(--tertiaire-color);
}
.page-active {
    background-color: var(--red-color);
    color: var(--tertiaire-color);
}
body {
    margin-bottom: 5vh;
}
.titre-media {
    color: var(--tertiaire-color);
    margin: 6vh 2vw;
    font-size: 2em;
}
.liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 1em;
    border-radius: 5%;
    padding: 2em;
    background-color: var(--tertiaire-color);
}
.liste img {
    height: 370px;
    width: 450px;
    object-fit: contain;
}
.reglement {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 2vh 2vw;
}
.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 2vh 2vw;
}
.media:hover {
    box-shadow: inset 0em 0em 5em 0em var(--red-color);
    opacity: 0.9;
    border-radius: 10%;
}
.reglement:hover {
    box-shadow: inset 0em 0em 5em 0em var(--red-color);
    opacity: 0.9;
    border-radius: 10%;
}
.hidden {
    display: none;
}
.telecharger {
    font-size: 1.5em;
    color: var(--second-color);
    text-decoration: none;
    padding: 0.5em;
}
.telecharger:hover {
    color: var(--red-color);
}
.lightbox.show {
    display: initial;
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn 500ms;
}
.lightbox__next {
    border: none;
    font-size: 55px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0%;
    margin-top: 80px;
    transition: opacity 300ms;
    opacity: 0.5;
    cursor: pointer;
    color: var(--red-color);
    background-color: var(--tertiaire-color);
}
.lightbox__preview {
    border: none;
    font-size: 55px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0%;
    margin-top: 80px;
    opacity: 0.5;
    transition: opacity 300ms;
    cursor: pointer;
    color: var(--red-color);
    background-color: var(--tertiaire-color);
}
.lightbox__close {
    border: none;
    font-size: 4.4em;
    height: 9vh;
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 300ms;
    z-index: 11;
    color: var(--red-color);
    background-color: var(--font-color);
}
.lightbox__preview:hover,
.lightbox__next:hover,
.lightbox__close:hover {
    opacity: 1;
}
.lightbox__container img {
    max-width: 100%;
    height: auto;
    animation: lightboxIn 500ms;
}
.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}