:root {
    --primaire-color: #03224C;
    --second-color: #0057CB;
    --tertiaire-color:  #E1F6F9;
    --font-color: #000;
}
* {
    font-family: 'Source Sans Pro', sans-serif;;
}
html {
    box-sizing: border-box;
    background-color: var(--primaire-color);
    margin: 0 3%;
}
header {
    background-color: var(--tertiaire-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cadre-titre {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 3vh 0;
}
.logo-titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.titre-logo-haut {
    font-size: 1.1em;
    color: var(--second-color);
}
.logo {
    object-fit: contain;
    width: 30%;
}
.titre-logo-bas {
    font-size: 1.1em;
    color: var(--second-color);
}
.titre {
    width: 70%;
    font-size: 2.5em;
    color: var(--second-color);
    align-self: center;
    text-align: center;
}
nav {
    margin: 2vh 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.naviguation {
    font-size: 1.2em;
    text-decoration: none;
    color: #911c1c;
    font-weight: bold;
    border: 2px solid #911c1c;
    border-radius: 10px;
    padding: 0.3vh 0.3vw;
    cursor: pointer;
}
.naviguation:hover {
    background-color: #911c1c;
    color: var(--tertiaire-color);
}
.page-active {
    background-color: #911c1c;
    color: var(--tertiaire-color);
}
body {
    margin-bottom: 5vh;
}
.section-activite {
    padding-bottom: 4em;
}
.titre-activite {
    color: var(--tertiaire-color);
    margin: 6vh 2vw;
    font-size: 2em;
}
.activites {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.article {
    width: 30%;
    background-color: var(--tertiaire-color);
    border-radius: 25px;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
}
.lien-equipe {
    align-self: center;
}
.img-activite {
    width: 100%;
    object-fit: cover;
    height: 25vh;
    border-radius: 25px;
}
.info-activite {
    padding: 0 3em;
}
h3 {
    font-size: 1.7em;
    color: var(--second-color);
    font-weight: bold;
    text-align: center;
}
.description-activite {
    text-align: justify;
    font-size: 1.2em;
}
.heure-activite {
    color: #901C1C;
    font-weight: bold;
    font-size: 1.2em;
}
.prix {
    font-size: 1.2em;
}
strong {
    color: #901C1C;
}
.detail-prix {
    font-size: 1.1em;
}
